language: perl
env:
  matrix:
  - BUILD_NGINX_VERSION: nginx-1.9.2
    BUILD_OPENSSL_VERSION: openssl-1.0.1o
    BUILD_NGXDEVKIT_VERSION: 0.2.19
    BUILD_SETMISC_VERSION: 0.28
    BUILD_ECHO_VERSION: 0.57
    BUILD_MEMC_VERSION: 0.15
    BUILD_SRCACHE_VERSION: 0.27
    BUILD_LUAUPSTREAM_VERSION: 0.02
    BUILD_HEADERSMORE_VERSION: 0.26
    BUILD_DRIZZLE_VERSION: 0.1.8
    BUILD_RDSJSON_VERSION: 0.13
    BUILD_COOLKIT_VERSION: 0.2rc2
    BUILD_REDIS2_VERSION: 0.11
    BUILD_PCRE_VERSION: 8.33
services:
  - mysql
  - redis
  - memcached
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y libreadline-dev libncurses5-dev libpcre3-dev libssl-dev perl build-essential libdrizzle1 libdrizzle0 libdrizzle-dev luarocks cpanminus libgd2-noxpm libgd2-noxpm-dev
install:
 - bash ./util/travis-ci/install-mockeagain.sh
 - bash ./util/travis-ci/install-nginx.sh
 - sudo /usr/bin/cpanm Test::Nginx
 - nginx -v
before_script:
 - mysql -uroot -e 'create database ngx_test; create user ngx_test; grant all on ngx_test.* to "ngx_test"@"localhost" identified by "ngx_test";'
script:
 - sudo prove -I./lib -r t